.appBar {
  z-index: 1201; /* Lebih tinggi dari drawer */
  background-color: #88c273;
}

.drawerPaper {
  width: 250px;
  background-color: #f8f9fa;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drawerHeader {
  padding: 0 16px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #2c3e50;
}

.listItemButton {
  padding: 12px 16px;
  transition: background-color 0.3s;
}

.listItemButton:hover {
  background-color: #e9ecef;
}

.icon {
  color: #2c3e50;
}

.logoutContainer {
  margin-top: auto;
  padding: 8px 0;
}

.logoutButton {
  padding: 12px 16px;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #f1f3f5;
}
