.topBar {
  background-color: #388e3c; /* Brand green */
  color: #fff;
}

.title {
  font-weight: bold;
  color: #fff;
}

.username {
  font-weight: bold;
  color: #fff;
}

.loginIcon {
  color: #fff;
  font-size: 1.2rem;
}

.loginText {
  font-weight: bold;
  color: #fff;
  margin-left: 8px;
}
