.topBar {
  background-color: #000; /* Hijau lebih gelap */
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.title {
  font-weight: 700;
  color: #fff;
  transition: opacity 0.2s ease;
}

.userIcon {
  color: #fff;
  font-size: 1.2rem;
}

.username {
  font-weight: 600;
  color: #fff;
  white-space: nowrap; /* mencegah teks terpotong ke baris baru */
}

.loginIcon {
  color: #fff;
  font-size: 1.2rem;
}

.loginText {
  font-weight: 600;
  color: #fff;
  margin-left: 4px;
}
