.appBar {
  background-color: #88c273;
  box-shadow: none;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Brand (HIS) */
.brand {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.2s;
  margin-left: 1rem;
}

.brand:hover {
  opacity: 0.8;
}

/* Bagian kanan toolbar */
.rightSection {
  display: flex;
  align-items: center;
}

/* Link Login mirip brand styling */
.loginLink {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 2rem; /* beri jarak dari HIS */
  transition: opacity 0.2s;
}

.loginLink:hover {
  opacity: 0.8;
}
