.landingContainer {
  height: 100vh;
  width: 100%;
}

.parallax {
  /* Menggunakan path relatif dari lokasi CSS module */
  background-image: url('../../assets/images/landingPage.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingContent {
  background-color: rgba(0, 128, 0, 0.6); /* Hijau tua dengan transparansi */
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}
